---
import { getCollection } from 'astro:content';

import BaseLayout from '@/layouts/BaseLayout.astro';
import ParallaxTitle from '@/components/ParallaxTitle.astro';
import ArticleCard from '@/components/ArticleCard.astro';

import blogImage from '@/assets/blog.jpg';

const articles = await getCollection('articles');
articles.sort((a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime());
---

<BaseLayout>
  <Fragment slot="head">
    <title>Blog | Five Star Auto Leather</title>
    <meta
      name="description"
      content="Learn everything about car seat leather — from care tips to material guides - on the Five Star Auto Leather Blog."
    />
  </Fragment>

  <ParallaxTitle backgroundImage={blogImage.src} title="Blog" titleOrder={1} />

  <section class="container mx-auto max-w-7xl px-6 py-8">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        articles.map((post) => (
          <ArticleCard
            id={post.id}
            title={post.data.title}
            description={post.data.description}
            publishedDate={post.data.publishedDate}
            readingTime={post.data.readingTime}
            cover={post.data.cover}
            coverAlt={post.data.coverAlt}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
