---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ParallaxTitle from '@/components/ParallaxTitle.astro';
import { Image } from 'astro:assets';

import ourStoryImage from '@/assets/our-story.jpg';
import earlyDaysImage from '@/assets/early-days.png';
import babyBossImage from '@/assets/baby-boss.png';
import covidTimesImages from '@/assets/covid-times.png';
import fiveYearsImage from '@/assets/five-years.png';
import singaporeWorkersImage from '@/assets/singapore-workers.png';
import batamWorkersImage from '@/assets/batam-workers.png';
---

<BaseLayout>
  <Fragment slot="head">
    <title>Our Story | Five Star Auto Leather</title>
    <meta
      name="description"
      content="Five Star Auto Leather has been delivering quality car upholstery in Singapore for 20 years. Learn how it all began."
    />
  </Fragment>

  <ParallaxTitle backgroundImage={ourStoryImage.src} title="Our Story" />

  <section class="container mx-auto max-w-7xl px-6 py-8">
    <div class="flex flex-col gap-3">
      <h2 class="text-center text-2xl font-bold">Integrity – Quality – Service</h2>

      <p>
        These are the values that built Five Star Auto Leather, founded by Mensono and Ang Poh Tin —
        a husband-and-wife team who started with nothing but passion, perseverance, and a dream.
      </p>
      <p>
        Their story began in 1984 in Batam, Indonesia. After years of trial and hustle from selling
        electronics to car accessories, opportunity came in 2005 when they brought their craft to
        Singapore. Long nights, dim workshops, and hard work shaped the foundation of what would
        become a trusted name in automotive interiors.
      </p>
      <p>
        From those humble beginnings, Five Star Auto Leather grew into a workshop known for
        craftsmanship, quality, and heart. Our Batam specialists handcraft every seat leather with
        precision, while our Singapore team handles assembly and quality checks, ensuring that every
        installation meets our uncompromising standards.
      </p>

      <div class="mx-auto my-3 grid max-w-[1000px] grid-cols-12 gap-3">
        <div class="col-span-12 sm:col-span-8">
          <Image
            src={earlyDaysImage}
            alt="Early days husband and wife team"
            class="h-full w-auto rounded-lg object-cover"
          />
        </div>
        <div class="col-span-12 sm:col-span-4">
          <Image
            src={babyBossImage}
            alt="Baby boss at Batam shop"
            class="h-full w-auto rounded-lg object-cover"
          />
        </div>
      </div>

      <h2 class="text-center text-2xl font-bold">A New Generation, A New Drive</h2>

      <p>
        In 2020, during the toughest of times due to the pandemic, the second generation joined the
        business, bringing fresh perspectives to modernise the business while honouring its roots.
        Alvin and Joy’s new leadership focused on custom and trending designs, helping clients
        express their individuality through creative automotive interiors.
      </p>
      <p>
        The young mindset of the second generation also made Five Star proudly vegan and
        sustainability-conscious, expanding our material offerings to include innovative
        alternatives that deliver the same luxury feel without compromise. Embracing digital
        marketing and new technologies, we streamlined operations, enhanced customer experience, and
        deepened our connection with the car enthusiast community.
      </p>

      <div class="mx-auto my-3 grid max-w-[1000px] grid-cols-12 gap-3">
        <div class="col-span-12 sm:col-span-6">
          <Image
            src={covidTimesImages}
            alt="Difficult Covid times"
            class="h-full w-auto rounded-lg object-cover"
          />
        </div>
        <div class="col-span-12 sm:col-span-6">
          <Image
            src={fiveYearsImage}
            alt="Celebrating 5 years of working together"
            class="h-full w-auto rounded-lg object-cover"
          />
        </div>
      </div>

      <h2 class="text-center text-2xl font-bold">Crafting the Future</h2>

      <p>
        In a world driven by mass production and efficiency, we hold a growing appreciation for the
        artistry and meticulousness of craftsmanship. Our long-term aspiration is to invest in
        people, skill, and creativity, to build an open, experience-based learning culture where
        passion for automotive design and upholstery can thrive.
      </p>
      <p>
        Today, our team of 21 experts services over 100 cars every month with each treated with care
        and respect. We may not be the largest in the industry but we are proud to be trusted,
        passionate, and genuine.
      </p>
      <p>
        At Five Star Auto Leather, we craft more than interiors. We craft experiences, heritage, and
        excellence that endure.
      </p>
      <p>Because true craftsmanship isn’t just made — it’s passed on.</p>

      <div class="mx-auto my-3 grid max-w-[1000px] grid-cols-12 gap-3">
        <div class="col-span-12 sm:col-span-6">
          <Image
            src={singaporeWorkersImage}
            alt="Our Singapore team"
            class="h-full w-auto rounded-lg object-cover"
          />
        </div>
        <div class="col-span-12 sm:col-span-6">
          <Image
            src={batamWorkersImage}
            alt="Our Batam team"
            class="h-full w-auto rounded-lg object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  h2 {
    font-family: 'RacingSansOne', var(--font-sans);
  }
</style>
